<!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title>Dependencies</title>
   </head>
   <body>
     <ul>
       {{#each dependency}}
      <li>{{this.name}} - {{this.version}}</li>
       {{/each}}
     </ul>
   </body>
 </html>